* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

#hero {
    background-image: url("./wallpaperflare.com_wallpaper\ \(4\).jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 0;
}
#product-container{
    width: 30%;
    height:auto;
}